dbi-users~:~perldbi
mason-users@lists.sourceforge.net~:~mason
mason@netizen.com.au~:~mason
slashcode@lists.slashdot.org~:~slashcode
oclug@lists.oclug.on.ca~:~oclug
modperl@apache.org~:~modperl
pm@ottawa.pm.org~:~ottawaPM
bugzilla-daemon~:~bugzilla
gwpeople@~:~gwpeople
shp~:~shp
mirabilis~:~icq
webmaster@proudly.ca~:~proudly
dan@gandalf.dhs.org~:~spam
